@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
}

.title h1 {
  font-weight: 300;
}

span {
  color: orange;
  font-weight: 500;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(126, 126, 126, 0.123);
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 25rem;
  width: 35rem;
}

.form form label {
  text-align: start;
  color: rgb(65, 65, 65);
  font-weight: bold;
}

.form form input {
  outline: none;
  border: 1px solid black;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
}

.form select,
option {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  background-color: #4141a5;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button button:hover {
  background-color: #2f2f75;
  transition: background-color 0.2s ease-in;
}

.movies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.content {
  height: 22rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c2c2c24d;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.content:hover {
  scale: 1.02;
}

.content p {
  color: rgb(76, 76, 177);
  font-weight: 600;
}

.content img {
  width: 10rem;
}

.random {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
}

.randomButton {
  height: 3rem;
  width: 3rem;
  background-color: rgba(255, 0, 0, 0.295);
  border-radius: 100%;
  cursor: pointer;
  margin: 1rem;
}

.randomButton:hover {
  scale: 1.1;
}

.functionButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.functionButtons p {
  width: 30px;
  height: 30px;
  margin-top: -20px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.functionButtons img {
  width: 30px;
  height: 30px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
}

.teste {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.otherone {
  width: 100%;
}
